.changeCompanyDropdownRow {
    width:              calc(325rem + 240rem * (var(--fontScale) - 1));
    padding-top:        calc(1rem + 10rem * (var(--fontScale) - 1));
    display:            flex;
    flex-direction:     row;
    flex-wrap:          wrap;
}

.changeCompanyDropdownItem {
    padding-top:        0rem;
    padding-bottom:     0rem;
}

.changeCompanyDropdownItemLeft {
    margin-right:       6rem;
}
