.productionBalancePanel {
    position:                   absolute;
    opacity:                    1;
    margin:                     0px;

    // By NOT specifying a panel height, it defaults to "auto",
    // which automatically adjusts the panel height for font scale and content, as desired.
}

.productionBalancePanelHeader {
    width:                      100%;
    display:                    flex;
    flex-direction:             row;
}

.productionBalancePanelHeaderTitle {
    margin-top:                 7rem;
}

.productionBalancePanelHeaderClose {
    margin-top:                 5rem;
}

.productionBalancePanelSectionHeader {
    text-transform:             uppercase;
    text-decoration-line:       underline;
    text-decoration-color:      var(--textColorDim);
    text-decoration-thickness:  auto;
    text-decoration-style:      solid;
}

.productionBalancePanelSectionRow {
    padding-top:                0rem;
    padding-bottom:             0rem;
}